@import url("../../css/font.css");

::-webkit-scrollbar {
    display: none;
}

body {
    max-width: 100%;
    max-height: 100vh;
    margin: 0;
    background-color: #1e1e1e;
}

p {
    color: #efefef;
}

#info {
    height: 100vh;
}

#title {
    border-bottom: 1px white solid;
    padding-top: 3vh;
    padding-bottom: 1vh;
    padding-left: 6vw;
    padding-right: 6vw;
}

#btn {
    position: absolute;
    border: 0px;
    background-color: #1e1e1e;
    margin-top: -95px;
    margin-left: 77.5vw;
}

#btn > img {
    width: 12.5vw;
}

#titleText {
    margin: 0px;
    font-family: "Gotham-Book", "Apple-Gothic-B";
    font-size: 28px;
}

#artist {
    margin-top: 0.5vh;
    font-family: "Gotham-Book", "Apple-Gothic-B";
}

#comment {
    border-bottom: 1px white solid;
    padding-top: 2vh;
    padding-bottom: 1vh;
    padding-left: 6vw;
    padding-right: 6vw;
}

#mainComment {
    text-align: justify;
    color: #bababa;
    font-family: "Gotham-L", "Apple-Gothic-L";
    font-size: 16px;
}

#sns {
    padding-bottom: 7vh;
}

#sns > span {
    width: 25px;
    height: 25px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
}

#other {
    padding-top: 1.5vh;
    padding-left: 6vw;
    font-family: "Gotham-L", "Apple-Gothic-L";
}

#others {
    padding-top: 1vh;
    padding-bottom: 3vh;
}

#otherImg {
    display: table;
}

#otherImg > a {
    display: table-cell;
}

#otherImg > a > img {
    width: 29.25vw;
    margin-left: -1px;
    margin-top: -4px;
    border: 1px solid white;
}